/* ここから下に記載していく */
/* 黒板 */
body {
    width: 1200px;
    height:auto;
	background-color:black;
	color:white;
}

.none {
    display: none;
}

.game-window, .retry-window {
    width:70%;
    border: 1px solid #fff;
    margin: 30px;
	height:auto;
	background-color:black;
	color:white;
}

.game-over-end {
    text-align: center;
}

.game-over-end p {
    color: red;
    font-size: 10rem;
    padding: 2rem;
    text-align: center;
}

.question-mode.mode-change {
    animation: blink 0.5s infinite;
}

.question-mode.game-over, .retry.game-over {
    animation: gameover 3s ease-in forwards;
}

.blackboard-question, .retry-question {
    width:600px;
    height: 100px;
	border:3px solid white;
	border-radius:6px;
	margin:30px auto;
    padding:1rem;
}

.blackboard-answer, .retry-answer {
	width:90px;
	border:3px solid white;
	border-radius:6px;
	margin:1rem auto;
	padding:1rem 1rem 1rem 2rem;
}

.retry {
    animation: retry 1s ease-in forwards;
}

/* メニュー用 */
.menu {
    cursor:pointer;
    margin-bottom: 0.5rem;
}
.menu:before {
    cursor:pointer;
    white-space: pre-wrap;
	content: " ";
}
/* メニュー選択状態 */
.menu-active:before {
	content: '▶';
    position: absolute;
    left: 24.5rem;
    animation: blink 1.4s infinite;
}

.game-enemy {
	text-align:center;
	margin:1rem auto 118px;
	padding:1rem;
    position: relative;
    height: 200px;
    width: auto;
}

.game-enemy.choices, .game-king {
	text-align:center;
	margin:1rem;
	padding:1rem;
    position: relative;
    height: 200px;
    width: auto;
}

.game-enemy img#ryuou {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

span.message-text {
	display:inline-block;
    width:100%;
    margin-bottom: 0.5rem;
	white-space:nowrap;
	overflow:hidden;
    -webkit-animation: typing 3s;
    overflow-wrap: break-word;
}

span.message-text.slowly {
	display:inline-block;
    width:100%;
    margin-bottom: 0.5rem;
	white-space:nowrap;
	overflow:hidden;
    -webkit-animation: typing 5s;
    overflow-wrap: break-word;
}

input#game-control {
    display: block;
    margin-left: 30px;
    width: 350px;
}

@keyframes typing {
	from { width: 0 }
	to { width:100% }
}

@keyframes gameover {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes retry {
    0% { opacity: 0;}
    100% { opacity: 1;}
}


   /* 点滅 */
@keyframes blink {
    50% { opacity: 0; }
}
@-webkit-keyframes blink {
    50% { opacity: 0; }
}


   /* ゲーム画面全体のデザイン */
/* .game_window {
	width:100%;
	height:300px;
	background-color:black;
	color:white;
} */
/* メニュー */
/* .game_menu {
	width:100px;
	border:3px solid white;
	border-radius:6px;
	margin:1em;
	padding:1em;
	float:left;
}
.game_enemy {
	width:300px;
	text-align:center;
	margin:1em;
	padding:1em;
	float:left;
}
#message_window {
	width:300px;
	border:3px solid white;
	border-radius:6px;
	margin:1em;
	padding:1em;
	float:left;
	height:2.4em;
	overflow:hidden;
} */
/* メニュー用 */
/* .menu {
	cursor:pointer;
}
.menu:before {
	cursor:pointer;
	content: '　';
} */
/* メニュー選択状態 */
/* .menu-active:before {
	content: '▶';
} */